.container {
	justify-content: center;
	height: 98vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #252525;
	overflow: hidden;
}
h1 {
	color: #ffff;
	font-family: sans-serif;
	font-weight: 800;
	text-align: center;
}

li {
	color: #ffff;
	font-family: sans-serif;
	font-weight: 800;
	text-align: center;
}
h2 {
	color: #ffff;
	font-family: sans-serif;
	font-weight: 800;
	text-align: center;
}

input {
	position: relative;
	width: 300px;
	height: 40px;
	border-radius: 50rem;
	padding-left: 20px;
	font-family: sans-serif;
	font-size: 20px;
	z-index: 0;
}

.startBtn {
	margin-top: 50px;
	width: 500px;
	height: 80px;
	border-radius: 50rem;
	font-family: sans-serif;
	font-size: 20px;
	background-color: #252525;
	color: #fff;
	font-weight: 800;
	border: 5px solid #fff;
	transition: all 300ms;
	animation-name: pulse;
	animation-duration: 3000ms;
	animation-iteration-count: infinite;
}
@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.startBtn:hover {
	background-color: #fff;
	color: #252525;
}

.data {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 30vh;
}

.scoreBoard {
	margin-top: 20vh;
	margin-left: 2vw;
}
.gameHistory {
	margin-top: 5vh;
	margin-right: 8vw;
	overflow-y: auto;
}

#modal {
	display: none;
	position: absolute;
	width: 60vw;
	height: 50vh;
	background-color: #121212;
	border: solid 5px #fff;
}
#resultModal {
	display: none;
	position: absolute;
	width: 60vw;
	height: 50vh;
	background-color: #121212;
	border: solid 5px #fff;
}

.crossIcon {
	position: absolute;
	right: 32px;
	top: 32px;
	width: 32px;
	height: 32px;
	opacity: 1;
}
.crossIcon:hover {
	transform: scale(1.1);
}
.crossIcon:before,
.crossIcon:after {
	position: absolute;
	left: 15px;
	content: " ";
	height: 33px;
	width: 2px;
	background-color: rgb(255, 255, 255);
}
.crossIcon:before {
	transform: rotate(45deg);
}
.crossIcon:after {
	transform: rotate(-45deg);
}

#usernameChange {
	position: absolute;
	margin-top: -190px;
	width: 320px;
	height: 40px;
	z-index: 1;
}
.saveBtn {
	margin-left: 10px;
	display: none;
	width: 100px;
	height: 40px;
	border-radius: 50rem;
	font-family: sans-serif;
	font-size: 20px;
	background-color: #252525;
	color: #fff;
	font-weight: 800;
	border: 5px solid #fff;
	transition: all 300ms;
}
.inputWrapper {
	display: none;
	display: flex;
	align-items: center;
}

.objectBtns {
	margin-top: 10vh;
	margin-left: 5vw;
	width: 200px;
	height: 100px;
	border-radius: 50rem;
	font-family: sans-serif;
	font-size: 20px;
	background-color: #121212;
	color: #fff;
	font-weight: 800;
	border: 5px solid #fff;
	transition: all 300ms;
	animation-name: pulse;
	animation-duration: 3000ms;
	animation-iteration-count: infinite;
}
.objectBtns:hover {
	background-color: #fff;
	color: #121212;
}
